@{
    ViewData["Title"] = "Comunícate con nosotros";
}

<h1 style="color: white;">@ViewData["Title"]</h1>

<div class="asistente-virtual" style="color: white;">
    <p>Asistente virtual</p>
    <p>Te atenderá las 24 hrs</p>
    <p>Escríbenos: <a href="mailto:servicioalcliente@cafeteria.com" style="color: white;">servicioalcliente@cafeteria.com</a></p>
    <p>Llámanos: Centro de atención al cliente en Lima y provincias: (01) 625 8000</p>
    <p>Visítanos: Consulta aquí nuestros horarios y ubicaciones de tiendas en todo el país <a href="#" style="color: white;">Ver tiendas</a></p>
</div>

<div class="redes-sociales" style="color: white;">
    <p>Síguenos en:</p>
    <ul>
        <li><a href="#" style="color: white;">Facebook</a></li>
        <li><a href="#" style="color: white;">Twitter</a></li>
        <li><a href="#" style="color: white;">Youtube</a></li>
        <li><a href="#" style="color: white;">Instagram</a></li>
    </ul>
</div>

<div class="nosotros" style="color: white;">
    <p>Nosotros</p>
    <ul>
        <li><a href="#" style="color: white;">Conócenos</a></li>
        <li><a href="#" style="color: white;">Trabaja con nosotros</a></li>
        <li><a href="#" style="color: white;">Responsabilidad social</a></li>
        <li><a href="#" style="color: white;">Nuestras tiendas</a></li>
        <li><a href="#" style="color: white;">Ventas corporativas</a></li>
        <li><a href="#" style="color: white;">Libro de reclamaciones</a></li>
    </ul>
</div>

<div class="informacion" style="color: white;">
    <p>Te informamos</p>
    <ul>
        <li><a href="#" style="color: white;">Tarjeta Café</a></li>
        <li><a href="#" style="color: white;">Concursos</a></li>
        <li><a href="#" style="color: white;">Vende con nosotros</a></li>
        <li><a href="#" style="color: white;">Ofertas especiales</a></li>
        <li><a href="#" style="color: white;">Fiestas temáticas</a></li>
        <li><a href="#" style="color: white;">Día del Café</a></li>
        <li><a href="#" style="color: white;">Viernes de Descuento</a></li>
        <li><a href="#" style="color: white;">Viernes de Café</a></li>
        <li><a href="#" style="color: white;">Black Friday</a></li>
        <li><a href="#" style="color: white;">Cyber Lunes</a></li>
        <li><a href="#" style="color: white;">Hot Sale</a></li>
        <li><a href="#" style="color: white;">Cierre Temporal</a></li>
    </ul>
</div>

<div class="atencion-cliente" style="color: white;">
    <p>Atención al cliente</p>
    <ul>
        <li><a href="#" style="color: white;">Tutorial de compra</a></li>
        <li><a href="#" style="color: white;">Horarios de atención telefónica</a></li>
        <li><a href="#" style="color: white;">Preguntas frecuentes</a></li>
        <li><a href="#" style="color: white;">Cambios y devoluciones</a></li>
        <li><a href="#" style="color: white;">Comprobante de compra</a></li>
        <li><a href="#" style="color: white;">Políticas y condiciones</a></li>
        <li><a href="#" style="color: white;">Política de privacidad</a></li>
        <li><a href="#" style="color: white;">Derechos de privacidad</a></li>
        <li><a href="#" style="color: white;">Condiciones de promociones</a></li>
        <li><a href="#" style="color: white;">Términos y condiciones</a></li>
    </ul>
</div>
